<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Guild | Where Mentors and Apprentices Connect</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>

<body>
    <div class="container">
        <div class="card-one" style="width: 18rem;">
            <img class="card-img-top" src="https://vignette.wikia.nocookie.net/naginoasukara/images/8/86/Placeholder_person.png/revision/latest?cb=20130924151342" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mentor Name Here</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name</li>
                <li class="list-group-item">Field</li>
                <li class="list-group-item">Job</li>
                <li class="list-group-item">Education</li>
                <li class="list-group-item">Project Description</li>
            </ul>
        </div>
    </div>
</body>

</html>