body {
    background: lightgray;
}

.logo{
	width: 75px;
	height: 50px;
}

.navbar{
	background: white;
}

h1 {
    font-weight: bold;
    font-style: italic;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    font-size: 50px;
}

.card-one {
    position: absolute;
}

.card-two {
    position: absolute;
    right: 100px;
}

.card-img-top {
    width: 200px;
    height: 200px;
    margin: auto;
}

.carousel {
    width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 25px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.login-main {
	position: relative;
    background: black;
    color: white;
    border: solid 1px black;
    border-radius: 25px;
    cursor: pointer;
    top: 6px;
    text-decoration: none;
}

.login-main:hover {
    opacity: 0.8;
}

.login-modal{
	background: black;
	color: white;
	text-decoration: none;
	border: solid 1px black;
	cursor: pointer;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    background: black;
    color: white;
    border: solid 1px black;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
    background: lightgray;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: lightgray;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}